<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>React: Medium API routes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <style media="screen">
      .container{
        width: 80%;
      }
      .blue-text{
        color: #1e6dab
      }
      .green-text{
        color: #42ab1e
      }
      .red-text{
        color: #ab1e3f
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>React: Medium API routes</h1>
      <h3>Create Article</h3>
      <pre><code>
        <strong class="red-text">POST:</strong> https://medium-basic-api.herokuapp.com/article/new
        <span class="blue-text">data (to server):</span> {
          title: "This is the title of your article",
          content: "This is the body of your article",
          imageUrl: "https://images.medium.com/0*fkfQiTzT7TlUGGyI.png",
          author: "Author Name"
        }
        <span class="green-text">response (from server):</span> {
          status: "created"
          data: {
            id: 123,
            title: "This is the title of your article",
            content: "This is the body of your article",
            imageUrl: "https://images.medium.com/0*fkfQiTzT7TlUGGyI.png",
            author: "Author Name"
          }
      </code></pre>
      <h3>Read Articles (all)</h3>
      <pre><code>
          <strong class="red-text">GET:</strong> https://medium-basic-api.herokuapp.com/articles
          <span class="blue-text">data (to server):</span> {
            No params/data required. Just get.
          }
          <span class="green-text">response (from server):</span> {
            id: 123,
            title: "This is the title of your article",
            content: "This is the body of your article",
            imageUrl: "https://images.medium.com/0*fkfQiTzT7TlUGGyI.png",
            author: "Author Name"
          }
      </code></pre>
      <h3>Read Article (one)</h3>
      <pre><code>
          <strong class="red-text">GET:</strong> https://medium-basic-api.herokuapp.com/article/:id
          <span class="blue-text">data (to server):</span> {
            id: 123,
          }
          <span class="green-text">response (from server):</span> {
            status: "found"
            data: {
              id: 123,
              title: "This is the title of your article",
              content: "This is the body of your article",
              imageUrl: "https://images.medium.com/0*fkfQiTzT7TlUGGyI.png",
              author: "Author Name"
            }
          }
      </code></pre>
      <h3>Update/Edit Article</h3>
      <pre><code>
          <strong class="red-text">PUT:</strong> https://medium-basic-api.herokuapp.com/article/:id/edit
          <span class="blue-text">data (to server):</span> {
            id: 123,
            title: "This is the title of your article",
            content: "This is the body of your article",
            imageUrl: "https://images.medium.com/0*fkfQiTzT7TlUGGyI.png",
            author: "Author Name"
          }
          <span class="green-text">response (from server):</span> {
            status: "updated",
            data: {
              id: 123,
              title: "This is the title of your article",
              content: "This is the body of your article",
              imageUrl: "https://images.medium.com/0*fkfQiTzT7TlUGGyI.png",
              author: "Author Name"
            }
          }
      </code></pre>
      <h3>Delete Article</h3>
      <pre><code>
          <strong class="red-text">DELETE:</strong> https://medium-basic-api.herokuapp.com/article/:id/delete
          <span class="blue-text">data (to server):</span> {
            id: req.params.id
          }
          <span class="green-text">response (from server):</span> {
            status: "deleted"
            }
          }
      </code></pre>

    </div>
  </body>
</html>
