<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>React: API instructions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <style media="screen">
      .container{
        width: 80%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>React: Medium API routes</h1>
      <h3>Create Article</h3>
      <pre><code>
        <strong>POST:</strong> https://medium-basic-api.herokuapp.com/article/new
        data (to server): {
          title: "This is the title of your article",
          content: "This is the body of your article",
          imageUrl: "https://images.medium.com/0*fkfQiTzT7TlUGGyI.png",
          author: "Author Name"
        }
        data (from server): {
          status: "created"
          data: {
            id: 0123,
            title: "This is the title of your article",
            content: "This is the body of your article",
            imageUrl: "https://images.medium.com/0*fkfQiTzT7TlUGGyI.png",
            author: "Author Name"
          }
      </code></pre>
      <h3>Read Articles (all)</h3>
      <pre><code>
          <strong>GET:</strong> https://medium-basic-api.herokuapp.com/articles
          data (to server): {
            No params/data required. Just get.
          }
          data (from server): {
            id: 0123,
            title: "This is the title of your article",
            content: "This is the body of your article",
            imageUrl: "https://images.medium.com/0*fkfQiTzT7TlUGGyI.png",
            author: "Author Name"
          }
      </code></pre>
      <h3>Read Article (one)</h3>
      <pre><code>
          <strong>GET:</strong> https://medium-basic-api.herokuapp.com/article/:id
          data (to server): {
            id: 0123,
          }
          data (from server): {
            status: "found"
            data: {
              id: 0123,
              title: "This is the title of your article",
              content: "This is the body of your article",
              imageUrl: "https://images.medium.com/0*fkfQiTzT7TlUGGyI.png",
              author: "Author Name"
            }
          }
      </code></pre>
      <h3>Update/Edit Article</h3>
      <pre><code>
          <strong>PUT:</strong> https://medium-basic-api.herokuapp.com/article/:id/edit
          data (to server): {
            id: 0123,
            title: "This is the title of your article",
            content: "This is the body of your article",
            imageUrl: "https://images.medium.com/0*fkfQiTzT7TlUGGyI.png",
            author: "Author Name"
          }
          data (from server): {
            status: "updated",
            data: {
              id: 0123,
              title: "This is the title of your article",
              content: "This is the body of your article",
              imageUrl: "https://images.medium.com/0*fkfQiTzT7TlUGGyI.png",
              author: "Author Name"
            }
          }
      </code></pre>
      <h3>Delete Article</h3>
      <pre><code>
          <strong>DELETE:</strong> https://medium-basic-api.herokuapp.com/article/:id/delete
          data (to server): {
            id: req.params.id
          }
          data (from server): {
            status: "deleted"
            }
          }
      </code></pre>

    </div>
  </body>
</html>
